.trending {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.pageTitle
{
  font-size:20px;
  margin-top: 0;
  
}
.offline-mode{
color:rgb(247, 118, 118);
font-family: Verdana;
font-size:20px;
}
